body{
    background-color: #444446;
}
nav{
    background-color: #1e1e24!important;
}

#btnlogin{
    float: right;
    color: #ffffff;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 54px;
}

.card{
    color: #ffffff;
    background-color: #1e1e24;
    border: 2px solid black;
}

.card-title{
    text-align: center;
    padding-bottom: 30px;
}

.card-text{
    text-align: center;
}

#vertical-center {
    margin-top: 15%;
}

#chart_div{
    justify-content: center;
    display: flex;
}

#closed-door-icon{
    font-size: 80px;
}

.closed-door{
    width: 65px;
    height: 80px;
}

.open-door{
    width: 100px;
    height: 80px;
}

.modal-content{
    background-color: #1e1e24;
    color: #ffffff;
}

.modal-content input{
    background-color: #444446;
    color: white;
}

.modal-content input:focus{
    background-color: #444446;
    color: white;
}
.sidebar{
    background-color: #1e1e24;
}
.title{
    color: #ffffff;
    font-weight: 400;
}